@import url(https://fonts.googleapis.com/css?family=Anonymous+Pro);
@import url("https://fonts.googleapis.com/css2?family=Nabla:ital,wght@0,400;1,200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@900&display=swap");

body {
    cursor: url('https://cdn.custom-cursor.com/db/13142/32/memes-swole-doge-vs-cheems-cursor.png'), auto;
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding-top: 70px;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/*Header Container*/
.page-container {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.navbar {
    background-color: rgba(0, 0, 0, 0.8);
    backdrop-filter: blur(10px);
}

.navbar-nav {
    display: flex; 
    justify-content: center; 
    width: 100%;
}

.navbar-brand {
    font-size: 1.8rem;
    color: #ffffff;
}

.navbar-brand:hover {
    color: #ffc107;
    cursor: url('https://cdn.custom-cursor.com/db/13141/32/memes-swole-doge-vs-cheems-pointer.png'), auto;
}

.nav-link:hover {
    cursor: url('https://cdn.custom-cursor.com/db/13141/32/memes-swole-doge-vs-cheems-pointer.png'), auto;
}

.logo {
    width: 100px;
}

/*Index Page*/
.header-section {
    height: 79vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background: url('img/background.jpg') no-repeat center center/cover;
    color: black;
}

.header-section img {
    max-width: 50%;
    height: auto;
}

.img-fluid {
    border-radius: 20px;
}

h1 {
    font-size: 12vw;
    font-family: Nabla;
    color: #000;
}

@font-palette-values --Nabla {
    font-family: Nabla;
    base-palette: 3;
}

span {
    animation: depth 1s ease-in-out alternate infinite;
    position: relative;
    display: inline-block;
    font-variation-settings: "EDPT" 30;
    font-palette: --Nabla;
}

.col-md-6 {
    display: flex;
    flex-direction: column;
}

.main {
    width: 100%;  
    align-items: center;
    justify-content: center;
    text-align: center;
}

h3 {
    text-align: center;
    text-transform: uppercase;
    color: #F1FAEE; 
    font-size: 4rem;
    font-family: "Montserrat", sans-serif;
}

.roller {
    height: 4.125rem;
    line-height: 4rem;
    position: relative;
    overflow: hidden; 
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000000;
    font-family: "Montserrat", sans-serif;
    font-size: 2rem;
}

.roller #rolltext {
    position: absolute;
    top: 0;
    animation: slide 5s infinite;  
}

@keyframes slide {
    0% {
        top: 0;
    }
    25% {
        top: -4rem;    
    }
    50% {
        top: -8rem;
    }
}

@media screen and (max-width: 600px) {
    h1 {
        text-align: center;
        text-transform: uppercase;
        color: #F1FAEE; 
        font-size: 2.125rem;
    }

    .roller {
        height: 2.6rem; 
        line-height: 2.125rem;  
    }

    .roller #rolltext {  
        animation: slide-mob 5s infinite;  
    }

    @keyframes slide-mob {
        0% {
            top: 0;
        }
        25% {
            top: -2.125rem;    
        }
        50% {
            top: -4.25rem;
        }
    }
}

.social-icons {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.social-icon {
    text-decoration: none;
    font-size: 1.2rem;
    color: #7a7469;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    transition: all 0.3s ease;
}

.cv-link {
    padding: 10px 15px;
    background-color: #f0f0f0;
    border-radius: 8px;
    color: #7a7469;
    font-weight: bold;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
    transition: background-color 0.3s ease, color 0.3s ease, transform 0.3s ease;
    width: auto;
    text-align: center;
    display: inline-flex;
    align-items: center;
    gap: 5px;
}

.cv-link:hover {
    cursor: url('https://cdn.custom-cursor.com/db/13141/32/memes-swole-doge-vs-cheems-pointer.png'), auto;
    background-color: #000000;
    color: #fff;
    transform: scale(1.1);
}

.cv-link i {
    font-size: 1.5rem;
}

/*About Page*/
.about-container {
    padding: 50px 25px;
    max-width: 900px;
    margin: 60px auto;
    background-color: #ffffff;
    border-radius: 15px;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.about-image-container {
    display: flex;              
    justify-content: center;    
    align-items: center;        
    height: 100%;
}

.about-image-container img {
    border-radius: 25px;
    max-width: 120px;
    height: auto;
    margin-bottom: 20px; 
}

.typewriter-animation {
    font-size: 1.15rem; 
    line-height: 1.6;
    margin-bottom: 30px; 
    color: #555;
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
}

.about-container h2 {
    font-size: 1.8rem;
    margin-top: 40px;
    color: #343a40;
    padding-bottom: 5px;
    position: relative;
    font-weight: bold;
    display: inline-block;
}

.about-container h2::after {
    content: '';
    display: block;
    width: 50px;
    height: 3px;
    background-color: #8a877f;
    margin: 8px auto;
    border-radius: 3px;
}

.about-list-group {
    margin-bottom: 30px;
    padding: 0 20px;
    list-style-type: none;
}

.about-list-group-item {
    background-color: #fafafa;
    border: 1px solid #e0e0e0; 
    border-radius: 8px;
    font-size: 1rem;
    padding: 15px 20px;
    color: #555;
    transition: background-color 0.3s ease;
}

.about-list-group-item:hover {
    cursor: url('https://cdn.custom-cursor.com/db/13141/32/memes-swole-doge-vs-cheems-pointer.png'), auto;
    background-color: #f0f0f0;
}

.cursor {
    position: relative;
    width: 100%;
    margin: 0 auto;
    border-right: 2px solid rgba(255, 255, 255, .75);
    font-size: 1.2rem;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    transform: translateY(-50%);    
}

.typewriter-animation {
    animation: 
        typewriter 5s steps(50) 1s 1 normal both, 
        blinkingCursor 500ms steps(50) infinite normal;
}

@keyframes typewriter {
    from { width: 0; }
    to { width: 100%; }
}

@keyframes blinkingCursor {
    from { border-right-color: rgba(255, 255, 255, .75); }
    to { border-right-color: transparent; }
}

.nav-link {
    color: #ffffff;
    transition: color 0.3s;
}

.nav-link:hover {
    cursor: url('https://cdn.custom-cursor.com/db/13141/32/memes-swole-doge-vs-cheems-pointer.png'), auto;
}

@media (max-width: 768px) {
    .about-container {
        padding: 30px 15px;
    }
    
    h2 {
        font-size: 1.5rem;
    }

    .about-list-group-item {
        font-size: 0.95rem;
    }
}

/*Project Page*/
.project-container {
    padding-top: 80px;
    max-width: 1200px;
    margin: 0 auto;
}

.card {
    height: 100%; /* Ensures cards fill available space in each row */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: none;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    transition: 0.3s ease;
}

.card:hover {
    cursor: url('https://cdn.custom-cursor.com/db/13141/32/memes-swole-doge-vs-cheems-pointer.png'), auto;
    transform: scale(1.05);
}

.card-languages {
    display: flex;
    gap: 10px;
    margin-top: 10px;
    margin-bottom: 15px;
    justify-content: center;
}

.language {
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 0.9rem;
    color: #fff;
    font-weight: bold;
}

.language.html { background-color: #e34c26; 
}

.language.css { 
    background-color: #8a2be2; 
}

.language.javascript { 
    background-color: #f0db4f; color: #000; 
}

.language.php { 
    background-color: #0000ff; 
}

.language.mysql { 
    background-color: #00758F; 
}

.language.java { 
    background-color: #b07219; 
}

.project-btn {
    background-color: #007bff;
    color: #ffffff;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    display: inline-block;
    transition: background-color 0.3s ease;
}

.project-btn:hover {
    background-color: #000000;
    text-decoration: none;
}

.card-img-top {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.card-body {
    text-align: center;
}

/*Contact Page*/
.contact-container {
    max-width: 600px;
    width: 90%;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    padding: 40px 20px;
    text-align: center;
    margin: auto;
    align-items: center;
}

.contact {
    font-size: 2.5rem;
    color: #343a40;
    margin-bottom: 30px;
    font-family: "Arial", sans-serif;
    font-weight: bold;
}

.social-icons {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-bottom: 20px;
}

.social-icon {
    text-decoration: none;
    transition: transform 0.3s ease, color 0.3s;
    color: #000000;
}

.social-icon:hover {
    cursor: url('https://cdn.custom-cursor.com/db/13141/32/memes-swole-doge-vs-cheems-pointer.png'), auto;
    transform: scale(1.2);
}

.social-icon:hover .fa-facebook {
    color: #3b5998;
}

.social-icon:hover .fa-linkedin {
    color: #0077b5;
}

.social-icon:hover .fa-github {
    color: #333333;
}

.social-icon:hover .fa-envelope {
    color: #f39c12;
}

.social-icon:hover .bi-person-badge {
    color: #7a7469;
}

.fab, .fas {
    font-size: 2rem;
}

.bi {
    font-size: 1.8rem;
}

.bi1 {
    margin-top: -5px !important;
}

.form-label {
    font-size: 1.1rem;
    color: #343a40;
    text-align: left;
}

.form-control {
    width: 100%;
    max-width: 600px;
    border-radius: 5px;
    border: 1px solid #dee2e6;
    margin-bottom: 20px;
    resize: none;
}

.contact-btn {
    background-color: #007bff;
    color: #ffffff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    width: auto;
    text-align: center;
    font-size: 1rem;
    transition: background-color 0.3s ease;
}

.contact-btn:hover {
    cursor: url('https://cdn.custom-cursor.com/db/13141/32/memes-swole-doge-vs-cheems-pointer.png'), auto;
    background-color: #000000;
}

/*Footer*/
footer {
    background-color: #343a40;
    color: white;
    padding: 20px 0;
    text-align: center;
}

footer p {
    margin: 0;
}
